$secondary-color: #218185; // bluegreen
$primary-color: #444444; // darkish
$inactive-color: #C5C5C5; // gray
$selected-color: #D8FF33; // lime
$hyperlink-color: #8CA30C; // puke-green
$section-dark-color: #F4F4F4; // gray
